/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html{
  height: 100vh;
  background-color: #cfc7f8;
  background-image: linear-gradient(315deg, #bcb2f0 0%, #ebbba7 74%);
}

.pageContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 15vh;
}


.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border-radius: 30px;
  background-color: #fefeffd8;
  z-index: 2;
  box-shadow:
     0 3.9px 4.6px rgba(0, 0, 0, 0.08),
     0 12.3px 8.4px rgba(0, 0, 0, 0.056),
     0 18.8px 19.2px rgba(0, 0, 0, 0.037),
     0 22px 40px rgba(0, 0, 0, 0.019)
}

.container{
  width: 60vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 26px;
}

img{
  display: block;
  margin: 0 auto;
  max-width: 300px;
  max-height: 400px;
}

button{
  width: 100px;
  height: 40px;
  border: .5px solid rgb(122, 121, 121);
  border-radius: 19px;
  margin: 15px;
  font-weight: bold;
}

button:hover {
  background-color: rgb(#636E72);
  filter: brightness(85%);
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
html{
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}





/******************************************
/* MEDIA QUERIES
/*****************************************/

/* Smartphone */

@media screen and (max-width: 500px) and (min-width: 320px) {
  html{
    width: 100vw;
    height: 100vh;
  }
  .pageContainer{
    justify-content: space-around;
    align-items:center;
    width: 100vw !important;
    height: 100vw;
  }
  .mainContainer{
    width: 90vw !important;
    height: 75vh;
    margin-top: 10%;
    position: relative;
    top: 17%;
    right: .75%;
  }
  .container{
    width: 95% !important;
    height: 70vh !important;
  }
  img{
    width: 75vw;
    height: 75% !important;
  }
  button{
    margin-top: 0;
    margin-bottom: 45px;
  }
}

/* Tablet / iPad */

@media  screen and (min-width: 501px) and (max-width:950px) {
  
  html{
    height: 100vh;
  }
  .mainContainer{
    width: 75vw;
    height: 70vh;
  }
  .container{
    height: 85%;
  }
  img{
    width: 75%;
    height: 80%;
  }
  button{
    height: 40px;
    margin-bottom: 30px;
  }
}